<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
      <add key="PortName" value="COM9"/>
      <add key="Workspace" value="C:\Program Files (x86)\Jenkins\workspace\DevKitStagingDeploy"/>
      <add key="TestCaseRelativePath" value="AzureIoTDeveloperKit\AZ3166"/>
      <add key="ExampleFolderPath" value="AzureIoTDeveloperKit\AZ3166\src\libraries"/>
      <add key="SensorStatusPath" value="AzureIoTDeveloperKit\AZ3166\src\libraries\Sensors\examples\SensorStatus"/>
      <add key="DevKitSourceRelativePath" value="AzureIoTDeveloperKit\AZ3166\src"/>
      <add key="InstallPackageBlobUrl" value="https://azureboard.blob.core.windows.net/staging/installpackage/devkit_install_{0}.zip"/>
      <add key="ResultFolder" value="TestResult"/>    
      <add key="PackageName" value="arduino_source_{0}.zip" />
      <add key="SystemVersionFilePath" value="AzureIoTDeveloperKit\AZ3166\src\cores\arduino\system\SystemVersion.cpp"/>
    </appSettings>
</configuration>