<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

    <appSettings>
      <add key="Environment" value="staging"/>
      <add key="PortName" value="COM9"/>
      <add key="Workspace" value="C:\Program Files (x86)\Jenkins\workspace\DevKitStagingDeploy"/>
      <add key="TestCaseRelativePath" value="devkit-sdk\AZ3166\tests\UnitTest\UnitTest.ino"/>
      <add key="ExampleFolderPath" value="devkit-sdk\AZ3166\src\libraries"/>
      <add key="SensorStatusPath" value="devkit-sdk\AZ3166\src\libraries\Sensors\examples\SensorStatus"/>
      <add key="DevKitSourceRelativePath" value="devkit-sdk\AZ3166\src"/>
      <add key="InstallPackageBlobUrl" value="https://azureboard.blob.core.windows.net/staging/installpackage/devkit_install_{0}.zip"/>
      <add key="ResultFolder" value="TestResult"/>
      <add key="PackageName" value="AZ3166-{0}.zip"/>
      <add key="SystemVersionFilePath" value="devkit-sdk\AZ3166\src\cores\arduino\system\SystemVersion.cpp"/>
      <add key="TelemetryFilePath" value="IoTDevKitInstallation.Win\src\telemetry.js"/>
      <add key="TaskInstallationScriptFilePath" value="IoTDevKitInstallation.Win\src\tasks\task-installation.js"/>
      <add key="BoardManagerURL" value="https://raw.githubusercontent.com/VSChina/azureiotdevkit_tools/master/package_azureboard_index.json"/>
      <add key="PlatformTxT" value="devkit-sdk\AZ3166\src\platform.txt"/>
    </appSettings>
</configuration>
